body {
  font-family: "Acme";
  min-width: 320px;
}
header {
  display: grid;
  grid-template-columns: auto auto /*auto auto*/;

  background-color: #9933cc;
  color: #ffffff;
  padding: 2px;
}
.headerLinks {
  color: #ffffff;
}
.headerLinks:hover {
  background-color: #ffffff;
  color: #9933cc;
}
a {
  text-decoration: none;
}
a:hover {
  color: green;
}
ul {
  list-style-type: none;
}
.subTitle {
  text-decoration-line: underline;
}
.listTitle:hover {
  color: green;
  cursor: default;
}
footer {
  margin-top: 30px;
  padding: 10px;
  background-color: #9933cc;
  max-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footericon {
  background-color: #ffffff;
  width: 20px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 5px;
  opacity: 0.6;
}
.footericon:hover {
  width: 35px;
  border-radius: 20px;
  margin-bottom: 15px;
  opacity: 1;
}

.profilePic {
  border-radius: 40px;
  max-width: 50%;
}
#about {
  display: flex;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 600px) {
  #about {
    display: grid;
  }
  #ustarbuttons {
    display: flex;
    flex-direction: row;
  }
  .projectlist {
    display: flex;
    flex-direction: column;
    max-width: 200px;
  }
  .paintsmallframe {
    max-width: 100%;
    height: 400px;
  }
  .mechGallery {
    flex-direction: column;
    max-width: 200px;
  }
  .ncnewsinfo {
    margin-right: auto;
  }
  .phonelink {
    margin-right: auto;
  }
  .bigSmartphone {
    margin-left: -30px;
    max-width: 240px;
  }

  .mechpresentation {
    max-width: 300px;
  }
  .presentation {
    width: 250px;
  }
  #presentation {
    width: 250px;
  }
  .presenatstiongallrey {
    width: 280px;
  }
  #bigpresentation {
    width: 100%;
  }
  .bigPresentation {
    width: 100%;
  }

  .gallerybuttons {
    /* margin: 5px; */
    display: flex;
    flex-direction: column;
  }
  .snake {
    display: none;
    width: 300px;
    height: 400px;
  }
  .snakeTextDesk {
    display: none;
  }
  .snakeTextMob {
    display: flex;
  }
}
.coloredSection {
  background-color: lightgray;
  border-top-width: 10px;
  border-top: #9933cc;
  padding: 15px;
  margin-bottom: 8px;
}
.notColor {
  background-color: none;
  border-top-width: 10px;
  border-top: #9933cc;
  padding: 15px;
  margin-bottom: 8px;
}
.caption {
  max-width: 50%;
}
.ncnewsinfo {
  margin-right: 100px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(50, 34, 185);
  opacity: 0.6;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
.ustarproject {
  display: none;
}
.webButton:hover {
  cursor: default;
  color: green;
}
.web {
  display: none;
}
.bigSmartphone .website {
  width: 100%;
  height: 100%;
  background: white;
}
.smartphone {
  position: relative;
  width: 180px;
  height: 400px;

  border: 16px black solid;
  border-top-width: 50px;
  border-bottom-width: 30px;
  border-radius: 36px;
}
.smartphone:before {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

.bigSmartphone {
  position: relative;
  width: 300px;
  height: 450px;

  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  margin-bottom: 10px;
}
.bigSmartphone:before {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}
.bigSmartphone:after {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}
.gallery {
  display: grid;
}
.gallerybuttons {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}
.gallerybutton {
  /* margin: 5px; */
  margin-top: 15px;
  height: 25px;
  width: 80px;
}
.galleryimg {
  max-height: 100%;
  max-width: 100%;
  display: block;
}

#ustar0 {
  display: block;
}
#ustar1 {
  display: none;
}
#ustar2 {
  display: none;
}
#ustar3 {
  display: none;
}
#ustar4 {
  display: none;
}
.multiView {
  display: inline-flex;
}
.mechGallery {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
}
.mechsec {
  width: 20%;
}
.ustarvideo {
  background-color: red;
  border-radius: 20px;
  width: 70%;
  height: 400px;
  margin-left: 10px;
}

#dissertation {
  width: 100%;
  min-height: 300px;
  max-height: 600px;
}

.presentation {
  max-width: 500px;

  padding: 7px;
  background-color: lightsalmon;

  display: none;
}
.bigPresentation {
  max-width: 1000px;

  padding: 7px;
  background-color: lightsalmon;

  display: none;
}
#presentation {
  max-width: 500px;

  padding: 7px;
  background-color: lightsalmon;
}
#bigpresentation {
  max-width: 1000px;

  padding: 7px;
  background-color: lightsalmon;
}
.mechpresentation {
  max-width: 500px;

  margin-right: 20px;
}
.picgallery {
  display: flex;
  margin: 20px;
}
.mo {
  width: 40%;
  margin: 5px;
  padding: 10px;
  max-height: 350px;
  background-color: lightskyblue;
  border-radius: 3px;
}
#mech1 {
  display: block;
}
.center {
  display: flex;
  justify-self: center;
}
.unidis {
  display: none;
}
.video {
  width: 100%;
  max-width: 1000px;
  margin-right: 20px;
}
.CampSimcha {
  display: none;
}
.try {
  background-image: url("/pictures/marathon/beforeRace.jpg");
  background-color: #cccccc;
  margin-bottom: 20px;
}
.csimglinks {
  width: 23%;

  margin: 5px;
  padding: 10px;
  max-height: 350px;
  background-color: lightskyblue;
  border-radius: 3px;
}

.csimg {
  width: 100%;
  height: 100%;
}
.csframe {
  width: 40%;

  margin: 20px;
  height: 300px;
}
.pics {
  display: flex;

  padding: 20px;
}
.links {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.Samllcardgame {
  position: relative;
  width: 100%;
  height: 300px;
}
.bigcardgame {
  width: 100%;
  min-height: 500px;
  max-height: 1000px;
}
.paint {
  width: 100%;
  height: 800px;
}
.firbase {
  background: white;
  width: 50%;
  height: 200px;
  border: solid;
  border-width: 1px;
}
.paintinfo {
  max-width: 800px;
}
.paintsmallframe {
  width: 800px;
  height: 600px;
}
.projectlist {
  max-width: 1300px;
  display: flex;

  justify-content: space-between;
}
.snake {
  width: 700px;
  height: 600px;
}
